{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Booking Details</h2>
    <div class="card">
        <div class="card-body">
            {% if user.booking %}
            <h5 class="card-title">Service: {{ booking.booking_id }}</h5>
            <p class="card-text"><strong>Date:</strong> {{ booking.date }}</p>
            <p class="card-text"><strong>Time:</strong> {{ booking.time }}</p>
            <p class="card-text"><strong>Status:</strong> {{ booking.status }}</p>
            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Edit Booking</a>
            <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Delete Booking</a>
            {% else %}
            <p class="card-text">You have no bookings.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}